name: My Test Action

on: [push]

jobs:
  test-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: 23f2003477@ds.study.iitm.ac.in
        run: echo "Hello, world!"
